.orange {
  background-color: orange
}

a {
  color: black;
}

a:hover {
  color: white;
}

body{
font-size: 1
height: 100%
  padding: 0px;
background-size: 100%
  margin-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;

}
.service-wrapper{
  overflow: hidden;
  position: relative;
  height: 100%;

}

.service-wrapper-inner{
  height: 100%;
  position: absolute;
  z-index: 1;
  top: 185px;
  padding: 15px 20px;
  -webkit-transition: 0.1s;
  -moz-transition: 0.1s;
  -ms-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;

}

.service-wrapper:hover .service-wrapper-inner{
  top: 0;
}

img{
  float: right;

}

body{
  font-family: 'Tangerine', cursive;
}