.orange {
  background-color: orange;
  border-radius: 0 !important; 
}

a {
	color: black !important;
}

a:hover {
  color: white !important;
}


body{
  font-family: "Mervale Script", Dancing Script, Cedarvilla, Sofia, cursive !important;
} 

